.flex-container {
    /* We first create a flex layout context */
    display: flex;
    /* Then we define the flow direction and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    /* Then we define how is distributed the remaining space */
    justify-content: flex-start;

    margin: 3px;
    /*justify-content: space-around;*/


}

.flex-containerend {
    justify-content: flex-end;
}

.row {
  margin:0 -15px;
}
.col-xx-xx {
  padding:0 15px;
}
