.parent {
  display: flex;
  height: 300px; /* Or whatever */
}

.child {
  width: 100px;  /* Or whatever */
  height: 100px; /* Or whatever */
  margin: auto;  /* Magic! */
}

.flex-container {
    /* We first create a flex layout context */
    display: flex;
    /* Then we define the flow direction and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    /* Then we define how is distributed the remaining space */
    justify-content: flex-start;
    align-items: center;
    margin: 3px;
    /*justify-content: space-around;*/
}

.flex-containerend {
    justify-content: flex-end;
}

.flex-containercentre {
    justify-content: center;
    align-items:center;
}

.row {
  margin:0 -15px;
}
.col-xx-xx {
  padding:0 15px;
}

/* On the flex item to pin */
.left {
   -webkit-align-self: flex-start;
   align-self: flex-start;
}

.right {
   margin-left: auto;
}