<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>

  <appSettings>
    <add key="api.url" value="https://localhost:44337/" />
    <add key="api.url.perf" value="http://powerfront-specflow.cloudapp.net/" />
    <add key="loader.url" value="https://api.loader.io/v2/tests/6d27cbe3405840e2fe457e2ac6c70b2e/run" />
    <add key="loader.key" value="3f199b63f1e794b062f2e67243348d63" />
  </appSettings>

  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!--<unitTestProvider name="xUnit" />-->
    <unitTestProvider name="MsTest" />
  </specFlow>

  <connectionStrings configSource="connectionStrings.config"/>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>