USE [Powerfront]
GO
/****** Object:  Table [dbo].[ObjectDataTable]    Script Date: 07/09/2016 20:45:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ObjectDataTable](
	[id] [varchar](255) NOT NULL,
	[PropertiesId] [varchar](255) NOT NULL,
 CONSTRAINT [PK_ObjectId] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ObjectPropertyTable]    Script Date: 07/09/2016 20:45:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ObjectPropertyTable](
	[id] [varchar](255) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Age] [varchar](255) NOT NULL,
	[TypeId] [varchar](255) NOT NULL,
 CONSTRAINT [PK_] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ObjectTypeTable]    Script Date: 07/09/2016 20:45:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ObjectTypeTable](
	[id] [varchar](255) NOT NULL,
	[Type] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ObjectDataTable] ([id], [PropertiesId]) VALUES (N'00274', N'08842')
INSERT [dbo].[ObjectDataTable] ([id], [PropertiesId]) VALUES (N'00296', N'80138')
INSERT [dbo].[ObjectDataTable] ([id], [PropertiesId]) VALUES (N'00312', N'13047')
GO
INSERT [dbo].[ObjectPropertyTable] ([id], [Name], [Age], [TypeId]) VALUES (N'00274', N'Ira Robles', N'3', N'69162')
INSERT [dbo].[ObjectPropertyTable] ([id], [Name], [Age], [TypeId]) VALUES (N'00296', N'Sonya Abbott', N'76', N'69162')
INSERT [dbo].[ObjectPropertyTable] ([id], [Name], [Age], [TypeId]) VALUES (N'00312', N'Dewayne Waller', N'11', N'69162')
GO
INSERT [dbo].[ObjectTypeTable] ([id], [Type]) VALUES (N'69162', N'Powerfront.Customer')
ALTER TABLE [dbo].[ObjectDataTable]  WITH CHECK ADD  CONSTRAINT [FK_PropertiesId] FOREIGN KEY([id])
REFERENCES [dbo].[ObjectPropertyTable] ([id])
GO
ALTER TABLE [dbo].[ObjectDataTable] CHECK CONSTRAINT [FK_PropertiesId]
GO
ALTER TABLE [dbo].[ObjectPropertyTable]  WITH CHECK ADD  CONSTRAINT [FK_TypeId] FOREIGN KEY([TypeId])
REFERENCES [dbo].[ObjectTypeTable] ([id])
GO
ALTER TABLE [dbo].[ObjectPropertyTable] CHECK CONSTRAINT [FK_TypeId]
GO
