@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rock and Roll</h1>
    <p class="lead">Welcome to Powerfront eCommerce Sytems</p>
    <p>@Html.ActionLink("Customer Maintenance", "Index", "Maintenance", null, new { @class = "btn btn-primary btn-lg", @id = "MaintenanceButton" })</p>
    <p>@Html.ActionLink("Properties Maintenance", "Index", "Property", null, new { @class = "btn btn-primary btn-lg", @id = "PropertyMaintenanceButton" })</p>
    <p>@Html.ActionLink("Impacts Maintenance", "Index", "Impacts", null, new { @class = "btn btn-primary btn-lg", @id = "ImpactsMaintenanceButton" })</p>
</div>
